body {
    font-family: 'Arimo', sans-serif;
    font-family: 'Gulzar', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;


}

h1 {
    font-size: 6rem;
    margin-bottom: 1%;
}

p {
    font-size: 2rem;
    color: gray;

}


.top-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1)), url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;

}

.header-background {
    margin: auto;
    text-align: center;
    padding: 10%;
}



.header-background h1 {
    margin-top: 0;
    margin-bottom: 1%;
    color: white;

}

.header-background p {
    color: white;
    width: 45%;
    margin: auto;
    margin-bottom: 10%;
}

.link-button {
    background-image: linear-gradient(orange, tomato);
    padding: 30px 60px;
    border-radius: 10px;
}

.donate-amount {
    margin-bottom: 4%;
}

.donate-amount p {
    width: 40%;
    margin: auto;

}

.flexible-donation {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;

}


.amount-border {
    width: 20%;
    text-align: center;
    background-color: lightgrey;
    padding: 5%;
    margin: 1%;
    border-radius: 3%;
}

.amount-border:hover {
    background-color: rgb(238, 168, 156);
    border: 1px solid tomato;
    color: tomato;
}

.amount-input a {
    display: block;
    width: 5%;
    margin: auto;

}

.amount-input input {
    border: none;
    outline: none;
    border-bottom: 5px solid gray;
    width: 70%;
    text-align: center;
    font-size: 2rem;
    margin-top: 3%;
    display: block;
    margin: 50px auto;

}

.amount-input input:active {
    border: none;
    outline: none;
}


.common-box {
    background-color: rgb(212, 233, 226);
    padding: 3%;
    margin: 1%;
    text-align: left;
    height: 10%;
    width: 60%;
}


#food {
    background-color: aqua;
}

.contribution {
    margin: 2%;
    text-align: left;
    width: 50%;
}

.contribution img {
    width: 100%;
}

.contribution p {
    margin: 0;
}









.second-flexible {
    display: flex;
    text-align: left;
    margin: 3% 15%;



}



.common-contribution {
    width: 50%;
    margin: auto;


}



.common-contribution img {
    width: 100%;
}

.common-contribution h1 {
    margin: 0;
    font-size: 4rem;
}

.common-contribution a {
    text-decoration: none;
    font-size: 2rem;
    margin-top: 10%;
    color: white;
    font-weight: bold;

}

.bottom-last-section {
    margin-top: 5%;
    margin: 3%;
}

.bottom-last-section p {
    width: 35%;
    margin: auto;
    text-align: center;
    margin-bottom: 3%;
}

.example {
    width: 45%;
    margin: auto;
    background-color: beige;
    padding: 3%;
}

form button {
    width: 20%;
    padding: 2%;
    border: none;
    background-color: lightgray;
    font-size: 1rem;
    margin: -10px;
    font-weight: bold;
    background-color: tomato;
}

form input {
    width: 25%;
    padding: 2%;
    border: none;
    background-color: lightgray;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
}

footer {
    background-color: black;
    padding: 2%;
    text-align: center;
}

.be-humble {
    font-family: 'Satisfy', cursive;
    color: tomato;
}